.main{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 11px 331px 5px 373px;
   
} 
.formm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #fdc50f;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  .one{
    margin: auto;
    width: 33%;
  }
  
  .uploaded-row{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
   
  }
  .upload-content{
    display: flex;
    align-items: center;
  }
  .text{
    color: gray;
    font-size: 34px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: #fff;
    background: #fdc50f;
    border-radius: 30px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);;
  }